.container {
  padding: 1rem;
}

.pdf_anchor {
  color: #2196f3;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  letter-spacing: 0.15px;
  text-decoration-line: underline;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: self-start;
  gap: 2rem;
  padding: 0 5%;
}
.left {
  background-color: #ddd;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right {
  flex: 1;
}

.text {
  text-align: justify;
  margin: auto;
}

.bottom {
  text-align: left;
}
.reference_list {
  list-style: none;
}

.loading_txt {
  display: inline-block;
  margin: 0 4rem 0 0;
}
