.container {
  background-color: #fff;
  padding: 0.5em 1rem 0.5rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
  gap: 1rem;
}
